
@{
    ViewBag.Title = "Create Question & Answers";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create Question & Answers</h3>
                        </div>
                        <form action="@Url.Action("CreateQADB","Manager")" method="post">
                            <div class="card-body">

                                <!-- Job Post -->
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" name="CATEGORY">
                                        <option value="GENERAL KNOWLEDGE">General Knowledge</option>
                                        <option value="MATHEMATICS">Mathematics</option>
                                        <option value="COMPUTER TECHNOLOGY">Computer Technology</option>

                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label>Point</label>
                                    <select class="form-control" name="POINT">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Question Text</label>
                                    <textarea class="form-control" rows="3" name="QUESTION_TEXT" placeholder="Enter Question Text..." style="margin-top: 0px; margin-bottom: 0px; height: 91px;" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Answer 1 (Correct Answer)</label>
                                    <textarea class="form-control" rows="3" name="ANSWER1" placeholder="Enter Answer 1..." style="margin-top: 0px; margin-bottom: 0px; height: 91px;"  required></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Answer 2 (Incorrect Answer)</label>
                                    <textarea class="form-control" rows="3" name="ANSWER2" placeholder="Enter Answer 2..." style="margin-top: 0px; margin-bottom: 0px; height: 91px;" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Answer 3 (Incorrect Answer)</label>
                                    <textarea class="form-control" rows="3" name="ANSWER3" placeholder="Enter Answer 3..." style="margin-top: 0px; margin-bottom: 0px; height: 91px;" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Answer 4 (Incorrect Answer)</label>
                                    <textarea class="form-control" rows="3" name="ANSWER4" placeholder="Enter Answer 4..." style="margin-top: 0px; margin-bottom: 0px; height: 91px;" required></textarea>
                                </div>

                                <!-- /.form group -->
                            </div>
                            <lable class="col-sm-12 text-danger">
                                @ViewBag.Error

                            </lable>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="col-sm-2">
                                    <input type="submit" class="btn btn-primary" value="Submit" />
                                </div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>



    </div>