
@{
    ViewBag.Title = "Show Candidates";
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Candidates</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm" style="width: 150px;">
                                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Apply Id</th>
                                        <th>Role</th>
                                        <th>Delete</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.CandidateList != null)
                                    {
                                        foreach (var candidate in ViewBag.CandidateList)
                                        {

                                            <tr>
                                                <td>@candidate.USERNAME</td>
                                                <td>@candidate.APPLY_ID</td>
                                                <td>@candidate.ROLE</td>
                                                <td><a href="@Url.Action("DeleteCandidate","Manager", new { username = candidate.USERNAME})">Delete</a></td>




                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>


        </div>

    </div>

