
@{
    ViewBag.Title = "finished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height: 649px;">
    <div class="row justify-content-center" style="padding-top:200px">
        <p style="color: #f15f22;font-size: 24px;">@ViewBag.Message</p>
    </div>
</div>

