
@{
    ViewBag.Title = "Apply";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:5%; margin-bottom:5%;min-height: 668px;">
    <div class="row" style="text-align:center">
        <h3 style="color:#f15f22;font-size:30px;width: 100%;">THANKS FOR YOUR APPLY</h3>
    </div>
</div>


