
@{
    ViewBag.Title = "Apply Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<style>
    .textAreaWraper {
        height: 150px;
        margin-bottom: 20px;
    }

    .textAreaStyle {
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: 1px solid #efebeb;
        font-size: 18px;
        font-weight: 400;
        padding: 9px 33px 9px 32px;
        color: #777777;
        font-size: 18px;
        font-weight: 400;
    }
</style>
<section class="contact-form-area section-bg  pt-115 pb-120 fix" data-background="/Content/CandidateWeb/assets/img/gallery/section_bg02.jpg" style="background-image: url(&quot;/Content/CandidateWeb/assets/img/gallery/section_bg02.jpg&quot;);">
    <div class="container">
        <div class="row justify-content-end">
            <!-- Contact wrapper -->
            <div class="col-xl-8 col-lg-9">
                <div class="contact-form-wrapper">
                    <!-- From tittle -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-50">
                                <h2>Apply for job</h2>
                                <p>Join us for your future</p>
                            </div>
                        </div>
                    </div>
                    <!-- form -->
                    <form action="@Url.Action("Apply","Apply")" class="contact-form" method="post">
                        <div class="row">
                            <input type="hidden" name="PHONE" value="@ViewBag.PHONE" />
                            <input type="hidden" name="PERSONAL_ID" value="@ViewBag.PERSONAL_ID" />
                            <input type="hidden" name="POST_ID" value="@ViewBag.POST_ID" />
                            <div class="col-lg-6">
                                <div class="input-form">
                                    <input type="text" placeholder="Name" name="NAME" required />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input-form">
                                    <input type="text" placeholder="Mail" name="MAIL" required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-form">
                                    <input type="text" placeholder="Address" name="ADDRESS" required />
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input-form textAreaWraper">
                                    <textarea class="textAreaStyle" placeholder="Education" name="EDUCATION" required></textarea>

                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="input-form textAreaWraper">
                                    <textarea class="textAreaStyle" placeholder="Work Experience" name="WORK_EXP" required></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button name="submit" class="submit-btn">APPLY</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
