
@{
    ViewBag.Title = "JobPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">*@
<style>
    .formBody {
        margin-top: 5%;
        margin-bottom: 5%;
        min-height: 649px;
    }
</style>
<div class="formBody">
    @foreach (var i in ViewBag.List)
    {
        <div class="row justify-content-center" style="margin-right:0px;margin-left:0px;">
            <div class="card col-sm-6" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">@Html.Raw(i.POST)</p>
                    <a class="btn btn-primary" href="@Url.Action("ApplyForId","Apply", new { id = @i.POST_ID})" style="width:100%">Apply</a>
                </div>
            </div>
        </div>
    }
</div>
